*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table, th, td {
    border: 2px groove black;
    border-spacing: 8px;
    /* border-collapse: collapse; */
    padding: 10px;
    /* text-align: center; */
}
table {
    width: 70%;
    border: #080808 5px outset;
    /* justify-content: center; */
    /* border: black 2px solid; */
}

th {
    font-size: 2em;
    color: red;
    text-align: center;
    background-color: #e7eda7;
}
td {
    font-size: 1.2em;
    background-color: #4fb6d9;
    font-weight: bolder;
}
input[type="text"], input[type="password"]{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #080808;
    border-radius: 4px;
}
select, option, input[type="file"] {
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #080808;
    border-radius: 4px;
    font-size: 1em;
}
#address {
    width: 60%;
    height: 150px;
    border-radius: 4px;
}
.Submit {
    text-align: center;
    margin-top: 20px;
}
.Submit button {
    font-size: 1.5em;
    padding: 10px 20px;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
    /* justify-content: space-around; */
}